* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fffde7;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  width: 300px;
}
.main {
  margin: 10px;
}
.main__btn {
  display: flex;
  justify-content: space-between;
}

.main__btn-play,
.main__btn-stop {
  background-color: transparent;
  border: none;
  width: 30px;
  outline: none;
}

.main__btn-play--image,
.main__btn-stop--image {
  width: 30px;
  height: 30px;
}

.fas,
.fa-play {
  color: #14d9c4;
  width: 15px;
}

.js-main__bingo {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  display: flex;
}
.js-main__bingo-B,
.js-main__bingo-G {
  color: #15c3b1;
}
.js-main__bingo-I {
  color: rgb(255, 187, 0);
}
.js-main__bingo-N,
.js-main__bingo-O {
  color: tomato;
}
.main__container {
  display: flex;
  padding-top: 25px;
}
.main__container-game {
  border-width: 7px;
  width: 50%;
  height: 100%;
  margin: 60px 20px 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.main__container-game--ball {
  width: auto;
  font-size: 24px;
  padding: 10px 0;
  text-align: center;
  background: white;
  outline-style: solid;
  outline-color: grey;
  color: #fe8b0a;
}
.main__container-balls {
  height: auto;
  width: 50%;
  margin: 15px 20px 20px 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.main__container-balls--ball {
  width: 40px;
  height: 40px;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  border-color: orange;
  background-color: white;
  border-radius: 30px;
  margin: 8px 2px;
  padding-top: 4px;
}
.inside-card {
  background-color: #fe8b0a;
  color: #fffde7;
}
