* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: column;
}
.header__title {
  text-align: center;
}
.main {
  border-color: green;
  background-color: #d3f8f4;
  margin: 0 50px 50px 50px;
}
.main__btn {
  display: flex;
}
.main__title {
  font-size: 24px;
  font-family: 'Indie Flower';
  text-align: center;
  padding-top: 15px;
}

.main__btn-ball {
  width: 150px;
  height: 30px;
  background-color: #14d9c4;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 5px;
  border-style: solid;
  border-width: 4px;
  border-color: #15c3b1;
}
.main__btn-play,
.main__btn-stop {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.main__btn-play--image,
.main__btn-stop--image {
  width: 30px;
  height: 30px;
}

.fas,
.fa-play {
  color: #14d9c4;
  width: 15px;
}
.main__congratulations {
}
.js-main__bingo {
  font-size: 30px;
  text-align: center;
  /* font-family: 'Indie Flower'; */
  font-weight: bold;
}

.main__game {
  border-color: crimson;

  border-style: solid;
  border-width: 7px;
  margin: 15px;
  /*padding: 15px;*/
  width: auto;
  /* height: 300px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.main__game--ball {
  width: auto;
  height: 60px;
  font-size: 24px;
  padding-top: 20px;
  text-align: center;
  /*margin-left: 20px;*/
  background: white;
  outline-style: solid;
  outline-color: green;
}
.main__balls {
  padding: 10px;
  height: 200px;
  /* border-style: solid;
  border-width: 7px;
  border-color: #15c3b1; */
  margin: 20px;
  font-family: 'Indie Flower';
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__balls--ball {
  width: 40px;
  height: 40px;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  border-color: #15c3b1;
  background-color: white;
  border-radius: 30px;
  margin: 8px;
  padding-top: 12px;
}
.inside-balls {
  background-color: darkseagreen;
}
